:root {
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --secondary-text-color: #212121;
  --hero-bgc: #2f303a;
  --hero-title: #ffffff;
  --bgc-color: #ffffff;
  --bgc-footer: #2f303a;
  --bgc-hero: #2f303a;
  --bgc-ourteam: #f5f4fa;
  --ff-accent: Raleway, sans-serif;
}

body {
  color: var(--primary-text-color);
  background-color: var(--bgc-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.list {
  list-style: none;
}

/* Logo */
.nav-logo,
.footer-logo {
  color: black;
  font-family: var(--ff-accent);
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

/* Меню навигации */
.nav-link,
.nav-contact {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-link {
  color: var(--secondary-text-color);
}

.logo-web,
.active {
  color: var(--accent-color);
}

.nav-contact {
  color: var(--primary-text-color);
}

.nav-link:hover,
.nav-link:focus,
.nav-contact:focus,
.nav-contact:hover {
  color: var(--accent-color);
}

/* Секция Герой Hero */
.hero {
  background-color: var(--hero-bgc);
}

.hero-title {
  color: var(--hero-title);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  color: var(--hero-title);
  background-color: var(--accent-color);
  font-family: roboto, sans-serif;
  border-width: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
}

/* Названия секций */
.features-title,
.about-title,
.team-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17px;
  text-align: center;
}

/* Секция Преимущества */
.features-item {
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-text {
  line-height: 1.71;
}

/* Секция Наша команда */
.team-name {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team {
  background-color: var(--bgc-color);
}

/* Footer */

.footer {
  background-color: var(--hero-bgc);
}

.logo-footer {
  color: #ffffff;
}

.footer-address {
  color: #fff;
  line-height: 1.71;
  text-decoration: none;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  text-decoration: none;
}

/* Cтраница Портфолио, Секция Портфолио */

.portfolio-button {
  color: var(--secondary-text-color);
  font-family: roboto, sans-serif;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-width: 0;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.portfolio-button:focus,
.portfolio-button:hover {
  color: #ffffff;
  background-color: var(--accent-color);
}

.portfolio-name {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-type {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
.portfolio-list a {
  text-decoration: none;
}
